@page
@model OrderApp.Pages.Restaurant.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CreationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CompletionTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionTime)
            </td>
            <td>
                @if (item.CompletionTime == null)
                {
                    <form method="post">
                        <input type="hidden" value="@item.ID" asp-for="ID" />
                        <button type="submit" class="btn-success">Mark Completed</button>
                    </form>
                }
                <a asp-page="./Order/Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
